{% extends 'base.html' %} {% block content %} {% load static%}

<head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <title>customer service page</title>
    <link rel="stylesheet" href="{% static 'customer_service/css/customer.css' %}">
    <link rel="stylesheet" href="{% static 'customer_service/css/section2.css' %}">
    <link rel="stylesheet" href="{% static 'customer_service/css/normalize.css' %}">
    <script src="{% static 'customer_service/js/customer.js' %}"></script>

</head>
{% if admin == 1%}

<script>
    alert("관리자 권한으로 접근할 수 없습니다."); // 고객센터 페이지는 고객만이 문의작성이 가능하기 때문에 관리자접근을 제한한다.
    history.back(-1);
</script>
{% endif %}
<div class="page_aticle aticle_type2">

    <div id="snb" class="snb_cc">
        <h2 class="tit_snb">고객센터</h2>
        <div class="inner_snb">
            <ul class="list_menu">
                <li>
                    <a href="{% url 'customer_service:nt_list' %}">공지사항</a>
                </li>
                <li class="on">
                    <a href="{% url 'customer_service:iq_list' %}">1:1 문의</a>
                </li>

            </ul>
        </div>
        <a href="{% url 'customer_service:iq_list' %}" class="link_inquire"><span class="emph">도움이 필요하신가요 ?</span> 1:1 문의하기</a>
    </div>
    <div class="page_section section_qna">
        <div class="head_aticle">
            <h2 class="tit">1:1 문의</h2>
        </div>

        <div id="content_write">
            <table class="xans-board-listheader" width="100%">
                <tbody>
                    <tr class="input_txt">
                        <th width="8%">번호</th>
                        <th width="15%">카테고리 </th>
                        <th>제목</th>
                        <th width="12%">작성자</th>
                        <th width="12%">작성일</th>
                    </tr>
                </tbody>
            </table>
            <!-- 1-1. 문의내역이 없을 경우 문구.-->
            {% if iq_list|length == 0 %}
            <div class="no_data" style="padding:150px 0 148px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;font-size:12px;color:#4c4c4c">
                1:1 문의 내역이 존재하지 않습니다.
            </div>
            {% endif %}

        </div>


        <!-- 2-1. 만약 문의내용이 있을 경우 리스트(배열)-->
        {% for iq in iq_list %}
        <div class="mypage_wrap" style="float:none;width:100%">
            <form action="{% url 'customer_service:iq_edit' %}" id="fm_send_tit" method="post">
                {% csrf_token %}

                <input type="hidden" name="title" id="title" value="{{iq.post_title}}">
                <input type="hidden" name="user" id="user" value="{{user.username}}">
                <table class="table_faq" width="100%" onclick="">
                    <tbody>
                        <tr>
                            <td width="8%" align="center">{{forloop.counter}}</td>
                            <td width="15%" align="center" class="stxt"><b>[ {{iq.category}}문의 ]</b></td>
                            <td style="padding-top:5px; padding-bottom:5px;">
                                <span id="tit" name="tit" value="">{{iq.post_title}}</span> {% if iq.answer|length == 0 %}
                                <span style="color:#007FC8;" class="stxt">[0]</span> {% else %}
                                <span style="color:#007FC8;" class="stxt">[1]</span> {% endif %}
                            </td>
                            <td width="12%" align="center">{{iq.person_name}}</td>
                            <td width="12%" align="center">{{iq.create_date|date:'Y-m-d'}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- 클릭했을 때 열리는 부분. (행)-->
                <div class="table_faq plus" style="display:none;padding:30px; border-top:1px solid #e6e6e6">
                    <div width="100%" style="padding-left:55px; padding-bottom:20px;">[ {{iq.category}}문의 ] {{iq.title}}</div>
                    <div width="100%" style="padding-left:55px;">{{iq.post_content}}</div>
                    <div class="goods-review-grp-btn" style="text-align:right;margin:10px;">
                        {% if iq.answer|length == 0%}
                        <button type="button" class="styled-button" id="edit">수정</button> {% endif %}
                        <a href="{% url 'customer_service:delete' iq.id %} ">
                            <button type="button" class="styled-button" id="delete">삭제</button>
                        </a>

                    </div>

                    <div class="table_faq_anwser" style="display: block; padding: 30px; border-top: 1px solid rgb(230, 230, 230);">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr valign="top">
                                    <th style="padding-top: 19px;color:#0000bf;width:40px;"><img src="https://img.icons8.com/small/16/000000/checked-checkbox.png" /></th>
                                    <!-- 문의답변이 없을 경우 -->
                                    {% if iq.answer|length == 0 %}
                                    <td>문의가 접수되었습니다. 빠른 시일 내에 답변해드리겠습니다.</td>
                                    {% else %}
                                    <td>{{iq.answer}}</td>
                                    {% endif %}
                                </tr>

                            </tbody>
                        </table>
                    </div>
            </form>
            </div>
        </div>
        {% endfor %} {% if iq_list|length == 0 %}
        <!-- 1-2. 문의내역이 없을 경우 페이지버튼 여부. (없음) -->
        <div style="position:relative; padding-bottom:200px;">
            <div style="position:absolute;right:0;top:60px;">
                <button id="write" class="write"><span class="bhs_buttonsm yb" style="float:none;">글쓰기</span></button>
            </div>
        </div>
        <div class="layout-pagination">
            <div class="pagediv"></div>
        </div>
        {% endif %}
        <!-- end -->


        <!-- 페이지버튼 여부(있음. :after)-->
        {% if iq_list|length > 0 %}
        <div style="position:relative; padding-bottom:200px;">
            <div style="position:absolute;right:0;top:60px;">
                <button id="write" class="write"><span class="bhs_buttonsm yb" style="float:none;">글쓰기</span></button>
            </div>
        </div>
        <div class="layout-pagination">
            <div class="pagediv" style="font-size: 0px;padding-bottom:100px;">
                <!--페이지 번호 표시 부분 공백없도록 수정완료 -->
                <a href="/shop/mypage/mypage_qna.php?&amp;page=1" class="layout-pagination-button layout-pagination-first-page">맨 처음 페이지로 가기</a><a href="/shop/mypage/mypage_qna.php?&amp;page=1" class="layout-pagination-button layout-pagination-prev-page">이전 페이지로 가기</a>
                <strong class="layout-pagination-button layout-pagination-number __active">1</strong><a href="/shop/mypage/mypage_qna.php?&amp;page=1" class="layout-pagination-button layout-pagination-next-page">다음 페이지로 가기</a><a href="/shop/mypage/mypage_qna.php?&amp;page=1"
                    class="layout-pagination-button layout-pagination-last-page">맨 끝 페이지로 가기</a></div>
        </div>
        <!-- end -->
        {% endif %}
        <script>
            // $(".table_faq").click(function() {           problem 1. 기존에 있던 코드는 전체 행이 출력되는 문제가 발생했음.       
            //     var faq = $(".table_faq_plus");
            //     if (faq.css('display') === "none") {
            //         faq.css('display', 'block');
            //     } else if (faq.css('display') === "block") {
            //         faq.css('display', 'none');
            //     }
            // });

            // 1:1문의 목록에 있는 행을 누를 경우 이벤트 발생. - 클릭한 해당 문의 건에 대한 상세 문의내역을 표시함. 
            // problem 1-solve. 기존에 있던 문제를 해결하기 위해 index를 이용해 새로운 스크립트를 작성함.

            $(".table_faq").click(function() {
                var idx = $(".table_faq").index(this);
                $('.table_faq:eq(' + idx + ')').next().toggle();
            })


            // 글쓰기 페이지 이동 이벤트
            $(".write").click(function() {
                location.href = "{% url 'customer_service:iq_write' %}";

            })

            // 수정하기 페이지 이동 이벤트
            $("#edit").click(function() {
                document.getElementById("fm_send_tit").submit();
            })
        </script>




    </div>
</div>
{% endblock %}